In [102]:

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
#Define your header 
headers = {"User-Agent" : "Mozilla/5.0"}
# extract EPS from this table
url = "https://www.macrotrends.net/stocks/charts/KO/cocacola/eps-earnings-per-share-diluted"
# send a GET request
page = requests.get(url)
# obtain a page content
page_content = page.content
# convert to HTML
soup = BeautifulSoup(page_content,"html.parser")
tabl = soup.find_all("table" , {"class" : "historical_data_table table"})

In [36]:
# only first array in tabl is what we want, and extract tr tag
tr= tabl[0].findAll('tr')
print(len(tr))

14

In [80]:
# blank eps to store data
eps =[]
# use for loop to find out text value for each tr
for i in tr[1:]:
    eps.append(i.getText())

In [81]:
eps

['\n2021\n$2.25\n',
 '\n2020\n$1.79\n',
 '\n2019\n$2.07\n',
 '\n2018\n$1.50\n',
 '\n2017\n$0.29\n',
 '\n2016\n$1.49\n',
 '\n2015\n$1.67\n',
 '\n2014\n$1.60\n',
 '\n2013\n$1.90\n',
 '\n2012\n$1.97\n',
 '\n2011\n$1.85\n',
 '\n2010\n$2.53\n',
 '\n2009\n$1.47\n']

In [79]:
# store new eps value
rep = []
# for loop to remove \n and append new value
for x in eps:
    rep.append(x.replace("\n", ""))
print(list(rep))

['2021$2.25', '2020$1.79', '2019$2.07', '2018$1.50', '2017$0.29', '2016$1.49', '2015$1.67', '2014$1.60', '2013$1.90', '2012$1.97', '2011$1.85', '2010$2.53', '2009$1.47']

In [103]:
# store eps value and year
eps_value = []
year = []
# for loop to loop the value and split by substring
for i in rep:
    year.append(int(i[0:4]))
    eps_value.append(float(i[5:]))

In [104]:
EPS = pd.DataFrame(data= {'Quarterly': year, 'eps_value': eps_value})

In [105]:
EPS

    Quarterly  eps_value
0        2021       2.25
1        2020       1.79
2        2019       2.07
3        2018       1.50
4        2017       0.29
5        2016       1.49
6        2015       1.67
7        2014       1.60
8        2013       1.90
9        2012       1.97
10       2011       1.85
11       2010       2.53
12       2009       1.47